In [1]:
# Import dependencies
import pandas as pd
import numpy as np

world_data_df = pd.read_excel('resources/world-data-2023.xlsx')
world_data_df.head()

,country_name,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude,world-data
0,Afghanistan,60,AF,0.581,652230.0,323000.0,32.49,93.0,Kabul,8672.0,...,0.28,38041754.0,0.489,0.093,0.714,0.1112,9797273.0,33.939110,67.709953,NaN
1,Albania,105,AL,0.431,28748.0,9000.0,11.78,355.0,Tirana,4536.0,...,1.20,2854191.0,0.557,0.186,0.366,0.1233,1747593.0,41.153332,20.168331,NaN
2,Algeria,18,DZ,0.174,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,...,1.72,43053054.0,0.412,0.372,0.661,0.1170,31510100.0,28.033886,1.659626,NaN
3,Andorra,164,AD,0.400,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,...,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,NaN
4,Angola,26,AO,0.475,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,...,0.21,31825295.0,0.775,0.092,0.491,0.0689,21061025.0,-11.202692,17.873887,NaN

In [2]:
worldhappiness_data_df = pd.read_excel('resources/world-happiness-report-2021.xlsx')
worldhappiness_data_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [ ]:
countrycode_data_df = pd.read_excel('resources/country_code.xlsx')
countryc_data_df.head()